
.board-container {
    text-align: center;
    background-image: url('./photos/background/galaxy.jpg');
    background-size: 100% 100%;
    padding: 10vh;
}

.top-left-container {
    border: 15px solid transparent;
    border-image: url('./photos/board_images/borderimagetopleft.jpg') 10 repeat;
    background-image: url('./photos/board_images/testimagefortopleft.jpg');
    background-size: 100% 100%;
    background-color: rgb(74, 74, 255);
    width: 65vw;
    font-size: medium;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black;
    
}

.top-left-test {
    display: flex;
    justify-content: center;
    height: 25vh;
    margin-top: 7vh;
}

.top-right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: transparent 15px solid;
    /* border-image: url('./photos/board_images/borderimagetopleft.jpg') 30 repeat; */
    width: 35vw;
    text-align: center;
    background-image: url('./photos/board_images/borderimagetopleft.jpg');
}

.top-container {
    display: flex;
    height: 35vh;
}

.planet-image {
    height: 15vh;
    width: 15vh;
    margin-top: 1vh
}

.top-right-inner-container{
    font-size: 16px;
    padding: 10px;
    height: 20vh;
}

.scan-text{
    margin-right: 10px;
}

.spaceship {
    border: purple 5px dotted;
    cursor: not-allowed;
    pointer-events: none;
}