.boardspace {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
}

.nofly {
    background-color: cornflowerblue;
}

.planet {
    background-color: goldenrod;
}

.flypath {
    background-color: pink;
}

.goal {
    background-color: green;
}