.boardspace {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
    margin: 1px;
}

.nofly {
    background-color: cornflowerblue;
}

.planet {
    background-color: goldenrod;
}

.flypath {
    background-color: pink;
}

.goal {
    background-color: green;
}

.spaceship {
    border: purple 5px dotted;
    cursor: not-allowed;
    pointer-events: none;
}