body, html {
    height: 100%
}

.limiter {
    width: 100%;
    margin: 0 auto;
}

.login-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.wrap-login {
    overflow: hidden;
    padding: 50px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, .1);
}

.rocketPic{
    width: 50px
}

input {
    display: none;
}



img {
    padding: 10px;
    border: 2px solid lightgrey;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

input[type=radio]:checked + img {
    border: 2px solid pink

}

.ship-options{
    display: flex;
    justify-content: center;
    margin-top: 30px
}

.login100-form-title {
    display: block;
    font-family: Poppins-Bold;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
  }

  .container-form-btn {
      display: flex;
      justify-content: center;
      margin-top: 30px
  }